/* HOME PAGE LAYOUT */
@media (min-width: 60.25em) {
  .grid-container {
    text-align: left;
    grid-template-columns:
      minmax(2rem, 1fr)
      repeat(2, minmax(0, 40rem))
      minmax(2rem, 1fr);
    column-gap: var(--container-gap, 1rem);
  }

  .grid-container > *:first-child {
    grid-column: 2;
  }

  .grid-container > *:last-child {
    grid-column: 3;
  }

  .grid-container--home {
    padding-bottom: max(6rem, 15vh);
    align-items: end;
  }
}

.home {
  background-image: url("../../images/home/background-home-mobile.jpg");
  background-size: cover;
  background-position: bottom center;
}

@media (min-width: 35em) {
  .home {
    background-image: url("../../images/home/background-home-tablet.jpg");
  }
}

@media (min-width: 60.25em) {
  .home {
    background-image: url("../../images/home/background-home-desktop.jpg");
  }
}
