/* HOME PAGE LAYOUT */
// For big screens, the grid container is centered and has a max width of 1200px
@media (min-width: 60.25em) {
  .grid-container {
    text-align: left;
    grid-template-columns:
      minmax(2rem, 1fr)
      repeat(2, minmax(0, 40rem))
      minmax(2rem, 1fr);
    column-gap: var(--container-gap, 1rem);
  }

  .grid-container > *:first-child {
    grid-column: 2;
  }

  .grid-container > *:last-child {
    grid-column: 3;
  }

  .grid-container--home {
    padding-bottom: max(6rem, 15vh);
    align-items: end;
  }
}

.home {
  background-image: url("../../images/home/background-home-mobile.jpg");
  background-size: cover;
  background-position: bottom center;
}

@media (min-width: 35em) {
  .home {
    background-image: url("../../images/home/background-home-tablet.jpg");
  }
}

@media (min-width: 60.25em) {
  .home {
    background-image: url("../../images/home/background-home-desktop.jpg");
  }
}

// DESTINATION PAGE LAYOUT
.grid-container--destination {
  --flow-space: 2rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}

.grid-container--destination > img {
  grid-area: image;
  max-width: 60%;
}

.grid-container--destination > .tab-list {
  grid-area: tabs;
}

.grid-container--destination > .destination-info {
  grid-area: content;
}

.destination-meta {
  flex-direction: column;
  border-top: 1px solid hsla(var(--clr-white) / 0.1);
  padding-top: 2.5rem;
}
