:root {
  // Colors
  /* 
    These color variables are later used in utility classes.
    The colors can be made by using hsl(var(--clr-xyz)), where xyz is the name of the color.
    The alpha value can be set by using hsla(var(--clr-xyz), a), where a is the alpha value.
  */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  // Typography
  /* font sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem; // 18px, body text
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}
